non-parameterized functions

In [1]:
# define
def message():
    print("Good Morning")

In [3]:
# call (use)
message()

Good Morning

In [4]:
def si():
    p = int(input("Enter Principal Amount:"))
    r = float(input("Enter Rate of Interest:"))
    t = int(input("Enter Time in Years:"))
    si = p*r*t/100
    print(f'Simple Interest is {si}')

In [5]:
si()

Simple Interest is 6600.0

In [8]:
def hypotenuse(p, b):
    h = ( p**2 + b**2 ) **.5
    print(f'hyp: {h}')

In [10]:
hypotenuse(30, 40)

hyp: 50.0

In [11]:
# a more professional way to define a function
def hypotenuse(p:int, b:int):
    '''
    This function take perpendicular and base to calculate hypotenuse
    '''
    h = ( p**2 + b**2 ) **.5
    print(f'hyp: {h}')

In [12]:
hypotenuse(12, 13)

hyp: 17.69180601295413

requirement parameters

In [16]:
# hypotenuse() # error

In [17]:
# hypotenuse(100)

In [18]:
# hypotenuse(2, 5, 10)

default parameters
- always start giving defaults from the right side (end)
- default values can be of any datatypes

In [21]:
def summer(a, b, c = 0, d = 0):
    print(a + b + c + d)

In [22]:
summer(12,34,12,45)

103

In [23]:
summer(120, 30)

150

In [24]:
summer(10,20,30)

60

In [25]:
def area_circle(radius = 1):
    area = 22/7 * radius ** 2
    print(area)

In [29]:
area_circle(10)

314.2857142857143

keyword arguments (named parameters)

In [37]:
summer(1,2,3,4)
summer(a=1, b=2, c=3, d=4)
summer(1, 2, c=10, d=20)
summer(1, 2, d=20, c=10)
summer(d=5, c=5, a=1, b=2)
summer(12,12,d=5)
area_circle(radius=10)

10
10
33
33
13
29
314.2857142857143

variable arguments -> datatype is tuple

In [42]:
def mean(*data:int):
    ans = sum(data)/len(data)
    print(f"average:{ans}")

In [43]:
mean(1,2,3,5,6)

average:3.4

In [44]:
mean(1,2,3,5,6,2,2,2,1,1,1,2,4,2,2,2,4,3,3)

average:2.526315789473684

variable keyword arguments -> datatype is dictionary

In [3]:
def task(**details):
    for name, value in details.items():
        print(f'{name:10}{value}')

In [4]:
task(title="learn datatypes", duration="1 day", credit=1)

title     learn datatypes
duration  1 day
credit    1

In [5]:
task(name="Bring Food",
     details="Brinjal, Potato, Tomato",
     budget = 200,
     date = "26-sep-2023"
     )

name      Bring Food
details   Brinjal, Potato, Tomato
budget    200
date      26-sep-2023

In [6]:
len("hello")

5

## function returning value

In [10]:
def hypotenuse(p:int, b:int)-> float:
    '''
    This function take perpendicular and base to calculate hypotenuse
    '''
    h = ( p**2 + b**2 ) **.5
    return h

In [14]:
ans = hypotenuse(3,4)
print(ans)

5.0

In [15]:
def cube_area(side):
    return 6 * side ** 2

In [16]:
cube_area(10)

600

In [17]:
def cube_volume(side):
    return side**3

In [19]:
cv = cube_volume(10)
ca = cube_area(10)
print(cv, ca)

1000 600

In [20]:
x = cube_volume(10) + 20
print(x)

1020

### waf to returns the number of words in a string

In [21]:
def word_count(data):
    return len(data.split())

In [22]:
words = word_count("This is a sample string of data")
print(f'total words: {words}')

total words: 7

### remove all vowels from a string using a function

In [25]:
def remove_vowels(content):
    vowels = "aieouAEIOU"
    for char in vowels:
        content = content.replace(char,'')
    return content

In [26]:
remove_vowels('This is a sample string of data')

'Ths s  smpl strng f dt'

### find all the indexes of a substring in a given string using a function

In [34]:
def find_indexes(substr, content):
    start_pos = 0
    idx_list = []  # empty list
    for i in range(content.count(substr)):
        idx = content.find(substr, start_pos)
        if idx == -1:
            break
        idx_list.append(idx)
        start_pos =idx + 1
    return idx_list

In [36]:
find_indexes('is', "the is a content, that contains alot of a in itself")

[4]

### extract all bi-grams from a string using a function

In [50]:
def bigrams(msg = "one two three four five"):
    words = msg.split()
    f, s = 0, 1
    for i in range(len(words)):
        if s == len(words):
            break
        print(words[f] , words[s], end=' | ')
        f += 1
        s += 1

In [51]:
bigrams()

one two | two three | three four | four five |

In [49]:
bigrams('the is a content, that contains alot of a in itself')

the is | is a | a content, | content, that | that contains | contains alot | alot of | of a | a in | in itself |

### remove all punctuations from a string