- `print()` -> output 
- `input()` -> input

In [1]:
name = "Alexander Hamilton"
city = 'Washington'

In [2]:
print("Information about me")
print(name)
print(city)

Information about me
Alexander Hamilton
Washington

In [3]:
print('Information about me:', name, city)

Information about me: Alexander Hamilton Washington

In [4]:
print('I am',name, 'and i live in', city)

I am Alexander Hamilton and i live in Washington

# formatted string
these are special strings in python, where we prepend f before the opening quote,
making the string an f-string. we can then embed python expressions directly inside
the string. the expressions are replaced with their values.

In [5]:
print(f"I am {name} and i live in {city}")

I am Alexander Hamilton and i live in Washington

initializing multiple variables in one line
`v1,v2,v3 = 1,2,3`

In [6]:
n1 = "Amjad"
c1 = 'Lucknow'
n2, c2 = "Aman", 'Lucknow'
n3, c3 = 'Bhupendra', 'Lucknow'
n4, c4 = 'Sia', 'Lucknow'

### text alignment
`<` left (default)

`^` center

`>` right

In [7]:
# alt + shift + down for duplicating the line
print(f'1. {n1:^15} {c1}')
print(f'2. {n2:^15} {c2}')
print(f'3. {n3:^15} {c3}')
print(f'4. {n4:^15} {c4}')

1.      Amjad      Lucknow
2.      Aman       Lucknow
3.    Bhupendra    Lucknow
4.       Sia       Lucknow

In [8]:
print(n1,n2,n3,n4)

Amjad Aman Bhupendra Sia

In [9]:
print(n1,n2,n3,n4, sep='\t')

Amjad	Aman	Bhupendra	Sia

In [10]:
print(n1,n2,n3,n4, sep='\n')

Amjad
Aman
Bhupendra
Sia

In [11]:
print(n1,n2,n3,n4, sep=', ')

Amjad, Aman, Bhupendra, Sia

# input

In [12]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplementedError if active frontend doesn't support stdin.
File:      c:\users\zaid\miniconda3\lib\site-packages\ipykernel\kernelbase.py
Type:      method

In [14]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [22]:
city = input("Please enter the city you want to go")
month = input("Enter the month name")
print(f'{city} in {month}')

Luxemberg in June

### type casting - converting one data type to another

In [29]:
x = "1000"
print(f'{x} {type(x)}')
y = int(x)
print(f'{y} {type(y)}')

x = 1.2356
print(f'{x} {type(x)}')
x = str(x)
print(f'{x} {type(x)}')
x = int(float(x))
print(f'{x} {type(x)}')

1000 <class 'str'>
1000 <class 'int'>
1.2356 <class 'float'>
1.2356 <class 'str'>
1 <class 'int'>

In [31]:
x = int(input('enter a number:'))
y = int(input('enter a number:'))
z = x + y
print(f'{x} + {y} = {z}')

23123 + 34432 = 57555