# string methods
- formatting
    - upper()
    - lower()
    - capitalize()
    - title()
    - swapcase()
    - casefold()
- searching
    - `find()`
    - index()
    - rfind()
    - rindex()
    - `count()`
- validation
    - isalpha()
    - isalnum()
    - isdigit()
    - `startswith()`
    - `endswith()`
    - isspace()
- manipulation
    - `split()`
    - rsplit()
    - `join()`
    - `strip()`
    - rstrip()
    - lstrip()
    - `replace()`

In [ ]:
msg = "This is an Example of a MESSAGE STRING"

In [ ]:
msg_u = msg.upper()

In [ ]:
print(msg.lower())
print(msg.capitalize())
print(msg.title())
print(msg.swapcase())
print(msg.casefold())
print(msg_u)

In [ ]:
msg

In [ ]:
msg.find('is')

In [ ]:
msg.find('is', 3)

In [ ]:
msg.find('is', 6)

In [ ]:
msg.index('ist')

In [ ]:
msg.count('b')

In [ ]:
'this that this that'.count('that')

In [ ]:
name = 'Vijay'
print(name.isalpha())
print(name.isdigit())
print(name.isalnum())
print(name.islower())
print(name.isupper())
print(name.istitle())

In [ ]:
guests = ['Mr. Alex', 'Ms. Gupta', 'Mr. Smith', 'Mr. Vijay', 'Ms. Smith']
for name in guests:
    if name.startswith('Mr.'):
        print(f'Hello {name}')
    elif name.startswith('Ms.'):
        print(f'Hi {name}')
    else:
        print("Yo")

In [ ]:
files = ['file1.txt', 'file2.txt', 'file3.txt',
         'file4.csv', 'file5.csv', 'file6.csv']
for file in files:
    if file.endswith('txt'): print(f"{file} text")
    elif file.endswith('csv'): print(f"{file} csv")
    else: print(f"{file} unknown")

In [ ]:
poem = '''Johny Johny, Yes Papa,
Eating sugar? No Papa,
Telling lies? No Papa,
Open your mouth Ha! Ha! Ha!'''

In [ ]:
print(poem)

In [ ]:
poem.split()

In [ ]:
poem.splitlines()

In [ ]:
poem.split(",") # split on comma

In [47]:
files = ['movie1.mp4', 'song1.mp3', 'image1.jpg', 'text101.txt']
for f in files:
    name = f.split('.')[0] # first part of the file name
    print(name)

movie1
song1
image1
text101

In [48]:
files

['movie1.mp4', 'song1.mp3', 'image1.jpg', 'text101.txt']

In [51]:
print(", ".join(files))

movie1.mp4, song1.mp3, image1.jpg, text101.txt

In [52]:
path = ['C:','users','zaid','downloads','image.jpg']

print("/".join(path))

C:/users/zaid/downloads/image.jpg

20 - SEP - 2021

In [1]:
# STRIP

In [2]:
name = "   Vijay Kumar   "
clean_name = name.strip() # leading n trailing spaces removed
name_1 = name.lstrip() # leading spaces removed
name_2 = name.rstrip() # trailing spaces removed
print(name, len(name))
print(clean_name, len(clean_name))
print(name_1, len(name_1))
print(name_2, len(name_2))

   Vijay Kumar    17
Vijay Kumar 11
Vijay Kumar    14
   Vijay Kumar 14

In [15]:
data = '''
 
 A simple object

'''

data.strip()

'A simple object'

In [17]:
content = '####..##..######Word Example...#...'
content.strip('#.')

'Word Example'

In [18]:
msg = "This is an example of content in a string"

In [19]:
msg.replace('a', 'e')

'This is en exemple of content in e string'

In [20]:
msg.replace('example', 'easy example')

'This is an easy example of content in a string'

In [21]:
msg.replace('is', 'are')

'Thare are an example of content in a string'

In [24]:
msg.replace('This','that').replace('is', 'was').replace('in', 'within', 1)

'that was an example of content within a string'

In [27]:
modified_msg = msg.replace(' is', ' are')
modified_msg

'This are an example of content in a string'

In [32]:
text = '%p34@y!*-*!t68h#&on404'
ans = ''
for char in text:
    if char.isalpha():
        ans+=char
print(ans)

python

In [41]:
from string import punctuation, digits
text = '%p34@y!*-*!t68h#&on404'
for p in punctuation+digits:
    text = text.replace(p, '')
print(text)

python

Remove all the vowels from a strings given by user

In [42]:
msg = input("Kehna kya chahte ho? ")
for v in "aeiouAEIOU":
    msg = msg.replace(v, '')
print(msg)

ths s  cntnt tht my r my nt hv vwls

In [51]:
names = ['Alex Smith','John Howard','Ravi Mishra', "Arti Kumari", 'Vivel Kapoor', 'Vijay Deenanath Chauhan']

In [54]:
for name in names:
    fn, *_ , ln = name.split() # *_ is a throwaway variable for middle name
    print(f"{fn[0]}.{ln[0]}.")

A.S.
J.H.
R.M.
A.K.
V.K.
V.C.

In [77]:
name = 'Ajay Kumar (Padhaku) Garg'
name.split()

['Ajay', 'Kumar', '(Padhaku)', 'Garg']

In [79]:
p1, p2, *p3 = name.split() # unpacking
print(p1, p2, p3)

Ajay Kumar ['(Padhaku)', 'Garg']

In [80]:
p1, *_, p2 = name.split()
print(p1,_, p2)

Ajay ['Kumar', '(Padhaku)'] Garg